- if user_signed_in?
  %li.divider-vertical
  %li
    = link_to "logout", destroy_user_session_url(:host => request.domain)
- else
  %li.divider-vertical
  %li
    = link_to('login', login_url(:host => request.domain))

