- if user_signed_in?
  %li.divider-vertical
  %li
    = link_to('settings', edit_user_registration_url(:host => request.domain))
- else
  %li.divider-vertical
  %li
    = link_to('sign up', signup_url(:host => request.domain))

