%blockquote
  I built Merciboq! as the simplest way I could think of to thank people.  My friends, my favorite bartenders.  Mentors.  If they like what I say about them, they can leave it public.  If they don't, they can take it down.  I hope you'll use it, too.
  %cite 
    = link_to Fred Schoeneman
