%ul 
  %li
    I built Merciboq! as the simplest way I could think of to thank people &mdash; My friends, favorite bartenders, mentors, and especially those strangers I meet during the course of my day, people who do their jobs better than I have a right to expect: a barista, the Dell customer service representative.  If they like what I say about them, they can leave my Merciboq! public; if they don't, they can take it down.  I hope you'll find it useful in the same way.
  %p
  %li
    &mdash; Fred Schoeneman
