%p I built Merciboq! to show appreciation for the Starbucks barista who gives me a free cup of tea when he sees me sick with the flu, the bartender who knows when I've had a bad day, and the open source software developers who save me time and money by letting me use their work for free.  If they like my Merciboq! they can leave it public.  If they don't they can take it down.  I hope you'll use it the same way.
%br/
%small.pull-right
  = link_to "Fred Schoeneman", root_url(subdomain: "fred-schoeneman")

