I built Merciboq! to show appreciation for friends, favorite bartenders, mentors, the Dell customer service representative who helps me with a hard-drive repair, the Starbucks barista who gives me a free cup of tea when he sees me sad, and the open source software developers who save me time and money by letting me use their work for free.  If they like my Merciboq! they can leave it public.  If they don't they can take it down.  I hope you'll use it the same way.
%p
&mdash; Fred Schoeneman

