%ul 
  %li
    I built Merciboq! as the simplest way I could think of to thank people &mdash; My friends, my favorite bartenders, my mentors.  But also to thank the strangers I meet during the course of my business day, people who do their jobs better than I have a right to expect.  If they like what I say about them, they can leave it public; if they don't, they can take it down.  I hope you'll find it useful in the same way.
  %p
  %li
    &mdash; Fred Schoeneman
