%p
  Or, you know, just press the big fat button below:
  %br
  %center
    <a href="mailto:thanks@merciboq.com, ReplaceThisEmailWithTheEmailForThePersonYouWantToRecognizeAndMerciboqWillPublishItAutomatically?subject=5 stars&body=Delete this text and replace it with what you want to say about this person.  The best thankyou notes are from the heart, and specific." class="full-width button">Show your appreciation by sending a MerciboQ!</a>
