.btn.large.success#email
  = mail_to "thanks@merciboq.com, #{email_instructions}", "Or just press this big, fat button to send a MerciboQ!", html_options = { subject: "5 stars", body: "A good MerciboQ! is specific about the behavior you wish to appreciate, and comes from your heart.  Please replace this text with your note." }
    
