%em My name is Fred.  I built Merciboq as a way to publicly recognize people who have gone above and beyond in helping me -- my favorite bartenders, a salesman at Nordstrom who once called three different stores, one of them in New York city, to help me find some shoes, and the barista dude who gave me a free hot tea when I came into Starbucks with a really bad cold.  I hope you will use it for the same thing. To do so, just follow these steps:

