%p
  You don't need to download an application, you don't need to sign up for an account, and you don't need to think about it for very long.    
%ul
  %li
    %strong Step 1:
    Send an email to thanks@merciboq.com
  %li
    %strong Step 2:
    Add the email address of the person you wish to recognize to the "To:" field of the same email.
  %li
    %strong Step 3:
    Write your thankyou in the body of the email.

