= form_for(@thankyou, :url => thankyou_edit_url(@thankyou), :html => { :method => :put }) do |f|
  .field
    //= f.label :headline, :required => false
    = f.text_field :headline
    //= f.label :content, :required => false
    = f.text_area :content

  .actions
    = f.submit "Update this Merciboq"

