%p
%em
  Tips for writing a good thankyou note:
%p
%ul
  %li
    %strong Tip 1:
    Be genuine.
  %li
    %strong Tip 2:
    Be specific.
  %li
    %strong Tip 3:
    Send your thankyou with no expectation of reward.

