%ul
  %li
    %strong Step 1:
    Send an email to the person you wish to thank
  %li
    %strong Step 2:
    In the "To:" field of the same email, add "thanks@merciboq.com"
  %li
    %strong Step 3:
    Write your thankyou in the body of the email


