%ul
  %li
    %strong Step 1:
    Send an email to thanks@merciboq.com
  %li
    %strong Step 2:
    Add the email address of the person you wish to recognize to the "To:" field of the same email.
  %li
    %strong Step 3:
    Write your thankyou in the body of the email.

