.user_info.well
  %center
    #{link_to @user.subdomain, (@user.subdomain)}
  %br/
  %strong
    = current_user.welcomes.count
    = link_to "Welcomes", @user.subdomain
  %br/
  %strong
    = current_user.thankyous.count
    Thankyous

