%meta{:content => "430109280352538", :property => "fb:app_id"}
%meta{:content => "article", :property => "og:type"}
%meta{:content => "#{@user.subdomain}.merciboq.com", :property => "og:url"}
%meta{:content => "MerciboQ!", :property => "og:site_name"}
%meta{:content => "#{@user.name}'s advertisements", :property => "og:title"}
%meta{:content => "The world's best place for saying thankyou.", :property => "og:description"}
%meta{:content => "DateTime", :property => "article:published_time"}
%meta{:content => "#{@thankyou.content}", :property => "article:section"}
%meta{:content => "review", :property => "article:tag"}/