%tr
  %td.thankyou
    %span.content
      Thanked #{link_to thankyou.welcomer.name} --
      %em
        = thankyou.headline
      "#{thankyou.content}"
    %span.timestamp
      Posted #{time_ago_in_words(thankyou.created_at)} ago about

