.row-fluid
  .span3.well
    = render 'shared/mission_statement'
  .span8
    %h2 Edit this thankyou
    = render @thankyou
    - @thankyou.attachments.each do |attachment|
      = link_to(attachment.filename, attachment, :target => '_blank')
    %br/
    %br/
    
    = render 'shared/thankyou_edit_form'

