- content_for :column1 do
  %blockquote.pull-right
    = render 'shared/mission_statement'
- content_for :column2 do
  .row-fluid
    %legend Edit this thankyou
    = render @thankyou
    - @thankyou.attachments.each do |attachment|
      = link_to(attachment.filename, attachment, :target => '_blank')
    %br/
    %br/
    
    = render 'shared/thankyou_edit_form'

