%table.table.table-bordered.table-striped
  %colgroup
    %col.span1
      %col.span7
  %thead
    %tr
      %th Tag
      %th Description
  %tbody
    %tr
      %td
        %code <table>
      %td
        Wrapping element for displaying data in a tabular format
    %tr
      %td
        %code <thead>
      %td
        Container element for table header rows (
        %code> <tr>
        ) to label table columns
    %tr
      %td
        %code <tbody>
      %td
        Container element for table rows (
        %code> <tr>
        ) in the body of the table
    %tr
      %td
        %code <tr>
      %td
        Container element for a set of table cells (
        %code <td>
        or
        = succeed ")" do
          %code <th>
        that appears on a single row
    %tr
      %td
        %code <td>
      %td
        Default table cell
    %tr
      %td
        %code <th>
      %td
        Special table cell for column (or row, depending on scope and placement) labels
        %br
          Must be used within a
          %code <thead>
    %tr
      %td
        %code <caption>
      %td
        Description or summary of what the table holds, especially useful for screen readers