%h3
  Confused?  Irritated?  Sad?  Angry?  Need some help?
%p
  If you're having trouble using MerciboQ! it's much less likely your fault than mine.  I either designed it wrong or I built it wrong.  So if you're having trouble, please, let me know a) where you're having the trouble, b) what's happening that you don't like, and c) what you would like to see instead.  I'll do my best to get you taken care of.
%p
  %i.icon-envelope
    = mail_to "fred@merciboq.com", "fred@merciboq.com", subject: "I need help", body: "What page were you on when you experienced the trouble?  What happened that caused you trouble?  What would you like us to differently, in order to fix the trouble?"

  %IMG{:alt => "Li'l Fred", :src => "/fredaroiderror.jpg", :style => "display:block; margin-left: auto; margin-right: auto; margin-top: 50px"}/