%table.profile
  %tr
    %td.main
      %h2
        About Merciboq
      %p
        My name is Fred Schoeneman.  I've done a lot of different jobs so far in life.  I was an Army Ranger who was afraid of heights.  After college I wanted to be a writer, and did a lot of different things to pay my bills: Dump truck dispatcher, advertising sales to lawyers, real estate.  One of the better jobs I had was that of commercial diver, cleaning growth and gunk off the bottom of boats.  I'd put on a wetsuit and slip into water that other people spilled oil and emptied holding tanks full of crap into.  That last part is <a href="http://www.amazon.com/Zyzzyva-Last-Word-Writers-Artists/dp/B000OGFTHO/ref=sr_1_6?s=books&ie=UTF8&qid=1315554947&sr=1-6">literal</a>.
        Maybe these weren't high status jobs, but they paid the bills.  And I did them as well as I could.  But I remember those occasions when one of my customers took time out to thank me for for doing a good job.  And so I built Merciboq as a way to try to do for people in different service jobs what those people did for me.
        %p
          It's not everyone I want to thank, just the ones who seem like they're doing things better than others in their job.  Maybe it's the fifth call center person I talk to at Verizon who helps me replace a phone, after the four previous ones shuffled me around.  Maybe it's a bartender who keeps me entertained.  Or maybe its my barber who works at Supercuts on the corner of Ashby and College in Berkeley, and who knows how to take care of the difficult cowlick on the right side of my head.  Maybe for you, it's the salesman at Macy's who called three different stores trying to find five different sizes of the same exact bridesmaid shoe for your best friend's wedding.
        %p
          Merciboq is about recognizing these people.  And it's about giving these people a way to stay in touch with their best customers -- the ones like you who have taken the time to thank them.
    = render 'shared/sidebar'

