%table.profile
  %tr
    %td.main
      %h2
        About Merciboq
      %p
        My name is
        = succeed "." do
          %a{:href => "http://fred-schoeneman.merciboq.com"} Fred Schoeneman
        I've done a lot of different jobs so far in life.  I was an Army infantryman.  A dump truck dispatcher. A real estate agent.  A seller of advertising to lawyers over the phone. Maybe these weren't respectable jobs, like being a lawyer or a doctor or a graduate student, but they paid the bills.  And I did them as well as I could.  
        %p One of the better jobs I had was that of commercial diver, about ten years ago.  Not one of the fancy commercial divers with the science fiction looking stuff like Ed Harris and Mary Elizabeth Mastrantonio used in "The Abyss", but one of the dirtball ones who cleaned mussels and algae and rust from the bottom of sailboats and motor yachts in marinas.  I'd put on a wetsuit and slip into January water which other people had spilled oil and emptied their holding tanks into.  I remember those occasions when one of my customers took time out to thank me for for doing a good job.  A dirty job done well.  They didn't want to get into that cold water.  They knew what else was in there.  
        %p And so now that I'm working as a programmer, I thought it would be meaningful to a system that would allow me to try do for people in different service jobs what those &mdash; special, good people %mdash did for me.
        %p And so I built this thing and thought it would be cool to call it Mercibeaucoup.com.  Only that url was taken, so I decided on Merciboq.com instead.  Here it is.  I use it a couple of times each week.  I hope others will, too.
        %p It's not everyone I want to thank.  It's just the people who seem like they're doing things better than other people in their job.  Maybe it's the fifth call center person I talk to at Verizon, who helps me replace a phone, after the four previous customer service people shuffled me around, either because they didn't want to help, or didn't know how to handle my specific problem, or just didn't care.  
      %p Yeah, you know who I'm talking about, don't you?    
      %p Maybe it's the bartender who keeps me entertained.  His name is Bradford Earle, by the way.  Maybe it's my fabulous barber who works at Supercuts on the corner of Ashby and College in Berkeley, and who knows how to take care of the difficult cowlick on the right side of my head.  His name is Curtis Marsh.  Mayb it's the dry cleaner on Piedmont Avenue who makes me smile each time I pick up a coat, even if I left it with him six months ago.        
      %p Maybe for you, it's the salesman at Macy's who called three different stores trying to find five different sizes of the particular model bridesmaid shoe that your best friend absolutely had to have for her wedding.  
      %p
        Merciboq is about recognizing these people.  And it's about giving these people a way to stay in touch with their best customers.  It is a way to thank them genuinely, for specific things they have done and which you appreciate, with the specific intent that their supervisors, or their clients, know that they have gone above and beyond.  
        
          
    = render 'shared/sidebar'

