.row
  .span11
    %h3
      About Merciboq
    %p
      My name is <a href="http://merciboq.com/users/1">Fred</a>. I've done a lot of jobs so far in life: Army infantryman.  Dump truck dispatcher.  Real estate agent.  Boiler room seller of advertising to lawyers. Maybe these weren't fancy jobs like being a lawyer or a doctor or a graduate student, but they paid the bills, and I did them as well as I could. 
    %p
      One of the more interesting jobs I had was that of commercial diver.  Not one of the fancy commercial divers with the science-fiction-ey looking masks, tanks, and dry suits like Ed Harris and Mary Elizabeth Mastrantonio used in <a href="http://en.wikipedia.org/wiki/The_Abyss">The Abyss</a>, but one of those dirty looking divers who work from their cars marinas. I would put on a wetsuit and slip into January water.  Water which other people had spilled oil and emptied their holding tanks into at night, when they figured nobody was looking.  I cleaned mussels and algae from the bottoms of sailboats.  I scraped away rust blooms from the running gear of motor yachts.  I dove for lost keys.  A dirty job.  They didn't want to get into that cold water.  They knew what else was in there. and wedding rings.  I remember those occasions when one of my customers took time out to thank me for for doing a good job.    
      %p Either that or they thought I was crazy.
      %p And so now that I'm working as a programmer, I thought it would be meaningful to build something that would allow me to try do for people in different service jobs what those &mdash; special, good people &mdash; did for me. I thought it would be cool to call this thing Mercibeaucoup.com.  Only that url was taken.  So I decided on Merciboq.com instead.  Which, well:  Here it is.  I use it a couple of times each week to show my appreciation.  You know, for the people who seem like they're trying harder.  Maybe it's the fifth call center person I talk to at Verizon who helps me replace a phone after the four previous customer service people shuffled me around, either because they didn't want to help, or because they didn't know how to handle my specific problem, or because they didn't care. Maybe it's the bartender who keeps me entertained. His name is 
    %a{:href => "http://brad.merciboq.com"} Brad
    by the way.  
    %p
      Maybe it's my fabulous barber who works at Supercuts on the corner of Ashby and College in Berkeley, and who knows how to take care of the difficult cowlick on the right side of my head.  His name is Curtis Marsh.  Mayb it's the dry cleaner on Piedmont Avenue who makes me smile each time I pick up a coat, even if I left it with him six months ago.        
    %p Maybe for you, it's the salesman at Macy's who called three different stores trying to find five different sizes of the particular model bridesmaid shoe that your best friend absolutely had to have for her wedding.  
    %p
      Merciboq is about recognizing these people.  And it's about giving these people a way to stay in touch with their best customers.  It is a way to thank them from the heart in a genuine way, for specific things they have done that you appreciate.  All you need to do is get their email address and follow the instructions on the sidebar.  
    %p Thanks for reading.  
  .span5
    = render 'shared/sidebar'

