- content_for :column1 do
  %blockquote.pull-right
    = render 'shared/mission_statement'
- content_for :column2 do
  %h2 
    Want to ask a question?  Email me:
  %p Fred Schoeneman -- 
  %i.icon-envelope= mail_to "fred@merciboq.com"
  