%h3 Help:
%em 1) What's the best way to sign up?
%p
Just send a thankyou, like this:
= render 'shared/thankyou_steps'
Once you've sent your merciboq, we'll send a confirmation to your email that you can follow to create your account.

