%table.front
  %tr
    %td.main
      %h2
        Need some help?
      %p
      %em.right If you're having trouble using the fault, it's not your fault.  It's mine, because of poor design.  So please, just email me with your questions.  I'll do my best to get you squared away:
      %p
        %center
          fred@merciboq.com
        %IMG{:alt => "Li'l Fred", :src => "/fredaroiderror.jpg", :style => "display:block; margin-left: auto; margin-right: auto; margin-top: 50px"}/
    = render 'shared/sidebar'

