.two_column
  %h3
    Show your appreciation.  
  %p MerciboQ! is the best way to publicly show your appreciation for someone, or something.  
  %td.sidebar.round
    %h3
      Have someone you'd like to thank?
    = render 'shared/thankyou_steps'
    = render 'shared/thankyou_tips'

