.sixteen.columns
  %h3 
    Show your appreciation 
  %p MerciboQ! is the best way to publicly show your appreciation for someone, or something.  
  <a href="mailto:thanks@merciboq.com, ReplaceThisWithThePersonYouAreThanking?subject=5 stars?&body=hells yeah">Show your appreciation</a>
  %h3
    Have someone you'd like to thank?
  = render 'shared/thankyou_steps'
  = render 'shared/thankyou_tips'

