.row
  .span11
    %h3
      Who would you like to thank?
    = render 'shared/thankyou_steps'
    %h3
      Tips:
    = render 'shared/thankyou_tips'
    = render 'shared/prepopulated_email'
  .span5 
    = render 'shared/mission_statement'
    


