%h3 Home
- if user_signed_in?
  = paginate @users
  %ul.users
    - @users.each do |user|
      %li
        = link_to user.name, user
  = paginate @users
- else
  = render 'layouts/form_registration_new'

