.sixteen.columns
  .eleven.columns.alpha
    %h3
      Who would like to thank?
    = render 'shared/thankyou_steps'
    = render 'shared/prepopulated_email'
    = render 'shared/thankyou_tips'
  .five.columns.omega
    = render 'shared/mission_statement'


