%tr
  %td.thankyou
    %span.content
      / welcomed #{link_to welcome.thanker.name} --
      %em
        = welcome.headline
      "#{welcome.content}"
    %span.timestamp
      Posted #{time_ago_in_words(welcome.created_at)} ago.