!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@thankyou.welcomer.name},
    %p
      Here's what #{@thankyou.thanker.name} wrote:
    %p
      %strong
        "#{@thankyou.headline}" -- @thankyou.content
    %p You can see this and all your Merciboq's by visiting your very own subdomain, which we created just for you:
    %p= link_to @thankyou.welcomer.subdomain, root_url(:subdomain => @thankyou.welcomer.subdomain)

