body {
  
  .thick-header {
    padding-top: 50px;
  }
}


.logo {
  font-family: 'Yesteryear';
  font-size: 500%;
  padding: 50px;

  a {
    color: grey;
    padding: 40px;

    &:hover {
      text-decoration: none;
    }

    &:visited {
    }
  }
}



