body {
  
  .thick-header {
    padding-top: 50px;
  }
}

header {

  .logo {
    font-family: 'Yesteryear';
    font-size: 800%;
    padding: 50px;
    margin-bottom: 50px;

    a {
      color: grey;
      padding: 40px;

      &:hover {
        text-decoration: none;
      }

      &:visited {
      }
    }
  }
}



