%meta{:charset => "utf-8"}/
= csrf_meta_tags
= yield :metatags
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%meta{:content => "The best way to say thankyou to random folks", :name => "description"}
%meta{:content => "Frederick D. Schoeneman", :name => "author"}
